*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  border:0;
  margin:0;
  padding:0;
}



.hero-banner {
    width: 100%;
    height: 85vh;
    background-image: url('../images/banners/tbz-redbanner.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: black;
}

* {
  box-sizing: inherit;
}

.hero-banner {
    width: 100%;
    height: 70vh;
    background-image: url('../images/cupcake-banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: pink;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  background-color: pink;
  justify-content: center;
  list-style-type: none;
  padding:2em;
}

nav ul li a {
  color:white;
  font-style: normal;
  text-decoration: none;
  font-family: sans-serif;
  font size: 2em;
}

nav ul li a:hover {
  color: black;
  transition: all .2s ease-in-out;
}
