*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  border:0;
  margin:0;
  padding:0;
}



.hero-banner {
    width: 100%;
    height: 85vh;
    background-image: url('../images/banners/tbz-redbanner.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: black;
}

* {
  box-sizing: inherit;
}

.hero-banner {
    width: 100%;
    height: 70vh;
    background-image: url('../images/cupcake-banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: pink;
}

header img {
 display: flex;
 flex-direction: row;
 justify-content: center;
 margin: auto;
}

h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  font-family: lust-script-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #CF4F68;
  padding-top: 2em;
  font-size: 2.5em;
}

section h3 {
  font-family: lust-script-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #CF4F68;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  background-color: pink;
  justify-content: center;
  list-style-type: none;
  padding:2em;
}

nav ul li a {
  color:white;
  font-style: normal;
  text-decoration: none;
  font-family: sans-serif;
  font size: 2em;
}

nav ul li a:hover {
  color: black;
  transition: all .2s ease-in-out;
}

.about-us {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.menubody {
  background-color: pink;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.the-menu-list {
  background-color: pink;
  margin: auto;
}

.menu-grid div h3 {
  text-align: center;
  font-family: adobe-caslon-pro, serif;
  font-weight: 400;
  font-style: italic;
}

.menu-grid div img {
  display: block;
  height: 40vh;
  width:auto;
  margin-left: auto;
  margin-right: auto;
}

.menu h2 {
  padding-left: auto;
  padding-right: auto;
  justify-content: center;
}

.about-us-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 2em;
}

.about-text p {
  font-size: 1.5em;
}

.about-img {
  max-height: 50%;
}

.menu-grid img {
  transition: all .2s ease-in-out;
}

.menu-grid img:hover {
  transform: scale(110%);
}
